<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>pkgServlet.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>pkgServlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>pkgServlet.UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserReg</servlet-name>
        <servlet-class>pkgServlet.UserReg</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetVideo</servlet-name>
        <servlet-class>pkgServlet.GetVideo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload_file</servlet-name>
        <servlet-class>upload_file</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>get_recm</servlet-name>
        <servlet-class>get_recm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserReg</servlet-name>
        <url-pattern>/UserReg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetVideo</servlet-name>
        <url-pattern>/GetVideo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload_file</servlet-name>
        <url-pattern>/upload_file</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>get_recm</servlet-name>
        <url-pattern>/get_recm</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
